In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

# Study data files
HUD_2019_path = "Data/HUD Exchange Data/2019-PIT-Counts-by-State.csv"
HUD_2018_path = "Data/HUD Exchange Data/2018-PIT-Counts-by-State.csv"
HUD_2017_path = "Data/HUD Exchange Data/2017-PIT-Counts-by-State.csv"
HUD_2016_path = "Data/HUD Exchange Data/2016-PIT-Counts-by-State.csv"
HUD_2015_path = "Data/HUD Exchange Data/2015-PIT-Counts-by-State.csv"

# Read the mouse data and the study results
hud_2019_data = pd.read_csv(HUD_2019_path)
hud_2018_data = pd.read_csv(HUD_2018_path)
hud_2017_data = pd.read_csv(HUD_2017_path)
hud_2016_data = pd.read_csv(HUD_2016_path)
hud_2015_data = pd.read_csv(HUD_2015_path)

In [2]:
hud_2019_data.head()

,State,Number of CoCs,"Overall Homeless, 2019","Overall Homeless - Under 18, 2019","Overall Homeless - Age 18 to 24, 2019","Overall Homeless - Over 24, 2019","Overall Homeless - Female, 2019","Overall Homeless - Male, 2019","Overall Homeless - Transgender, 2019","Overall Homeless - Gender Non-Conforming, 2019",...,"Overall Homeless Parenting Youth Age 18-24, 2019","Sheltered ES Homeless Parenting Youth Age 18-24, 2019","Sheltered TH Homeless Parenting Youth Age 18-24, 2019","Sheltered Total Homeless Parenting Youth Age 18-24, 2019","Unsheltered Homeless Parenting Youth Age 18-24, 2019","Overall Homeless Children of Parenting Youth, 2019","Sheltered ES Homeless Children of Parenting Youth, 2019","Sheltered TH Homeless Children of Parenting Youth, 2019","Sheltered Total Homeless Children of Parenting Youth, 2019","Unsheltered Homeless Children of Parenting Youth, 2019"
0,AK,2.0,"1,907",335,204,"1,368",761,"1,137",6,3,...,20,6,14,20,0.0,27,13,14,27,0.0
1,AL,8.0,"3,261",629,199,"2,433","1,383","1,873",3,2,...,22,10,11,21,1.0,34,17,13,30,4.0
2,AR,5.0,"2,717",303,317,"2,097","1,022","1,688",4,3,...,11,7,4,11,0.0,15,10,5,15,0.0
3,AZ,3.0,"10,007","1,602",708,"7,697","3,683","6,297",16,11,...,58,17,40,57,1.0,80,26,53,79,1.0
4,CA,44.0,"151,278","14,305","12,673","124,300","50,467","98,404","1,764",643,...,"1,019",457,291,748,271.0,"1,194",555,357,912,282.0

In [25]:
hud_2019_data.dtypes

State                                                          object
Number of CoCs                                                float64
Overall Homeless, 2019                                         object
Overall Homeless - Under 18, 2019                              object
Overall Homeless - Age 18 to 24, 2019                          object
                                                               ...
Overall Homeless Children of Parenting Youth, 2019             object
Sheltered ES Homeless Children of Parenting Youth, 2019        object
Sheltered TH Homeless Children of Parenting Youth, 2019        object
Sheltered Total Homeless Children of Parenting Youth, 2019     object
Unsheltered Homeless Children of Parenting Youth, 2019        float64
Length: 541, dtype: object

In [34]:
hud_2019_data["Overall Homeless, 2019"] = hud_2019_data["Overall Homeless, 2019"].astype(float)

ValueError: could not convert string to float: '1,907'

In [35]:
new_hud_2019_data = pd.to_numeric(hud_2019_data["Overall Homeless, 2019"], errors="ignore")

In [36]:
new_hud_2019_data.dtypes

dtype('O')

In [37]:
unique = hud_2019_data["Overall Homeless, 2019"].describe()
unique

count        56
unique       55
top       2,315
freq          2
Name: Overall Homeless, 2019, dtype: object

In [38]:
new_hud_2019_data.dropna()
new_hud_2019_data

0       1,907
1       3,261
2       2,717
3      10,007
4     151,278
5       9,619
6       3,033
7       6,521
8         921
9      28,328
10     10,443
11        875
12      6,412
13      2,315
14      2,315
15     10,199
16      5,471
17      2,381
18      4,079
19      2,941
20     18,471
21      6,561
22      2,106
23      8,575
24      7,977
25      6,179
26      1,807
27      1,184
28      1,357
29      9,314
30        557
31      2,365
32      1,396
33      8,862
34      3,241
35      7,169
36     92,091
37     10,345
38      3,944
39     15,876
40     13,199
41      2,535
42      1,055
43      4,172
44        995
45      7,467
46     25,848
47      2,798
48      5,783
49        314
50      1,089
51     21,577
52      4,538
53      1,397
54        548
55    567,715
56        NaN
Name: Overall Homeless, 2019, dtype: object

In [41]:
x_axis = np.arange(new_hud_2019_data["Overall Homeless, 2019"])
plt.bar(x_axis, new_hud_2019_data["Overall Homeless, 2019"], color = 'b', alpha = 0.5, align = "center")
tick_locations = [value for value in x_axis]
plt.xticks(tick_locations, ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD',
       'ME', 'MI', 'MN', 'MO', 'MP', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH',
       'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC',
       'SD', 'TN', 'TX', 'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV', 'WY',
       'Total', 'nan'])
plt.xticks(rotation = 90)
plt.title("Total number of homeless per state in 2019")
plt.xlabel("State")
plt.ylabel("Overall Homeless")
plt.show()

KeyError: 'Overall Homeless, 2019'

In [3]:
hud_2018_data.head()

,State,Number of CoCs,"Overall Homeless, 2018","Overall Homeless - Under 18, 2018","Overall Homeless - Age 18 to 24, 2018","Overall Homeless - Over 24, 2018","Overall Homeless - Female, 2018","Overall Homeless - Male, 2018","Overall Homeless - Transgender, 2018","Overall Homeless - Gender Non-Conforming, 2018",...,"Overall Homeless Parenting Youth Age 18-24, 2018","Sheltered ES Homeless Parenting Youth Age 18-24, 2018","Sheltered TH Homeless Parenting Youth Age 18-24, 2018","Sheltered Total Homeless Parenting Youth Age 18-24, 2018","Unsheltered Homeless Parenting Youth Age 18-24, 2018","Overall Homeless Children of Parenting Youth, 2018","Sheltered ES Homeless Children of Parenting Youth, 2018","Sheltered TH Homeless Children of Parenting Youth, 2018","Sheltered Total Homeless Children of Parenting Youth, 2018","Unsheltered Homeless Children of Parenting Youth, 2018"
0,AK,2.0,"2,016",349,191,"1,476",880,"1,129",7,0,...,25,14,9,23,2.0,26,14,10,24,2.0
1,AL,8.0,"3,434",573,157,"2,704","1,399","2,025",9,1,...,27,11,8,19,8.0,36,16,13,29,7.0
2,AR,7.0,"2,712",309,213,"2,190","1,113","1,593",5,1,...,8,5,2,7,1.0,11,7,2,9,2.0
3,AZ,3.0,"9,865","1,680",780,"7,405","3,460","6,354",34,17,...,63,19,35,54,9.0,81,28,45,73,8.0
4,CA,43.0,"129,972","13,936","12,678","103,358","42,491","85,810","1,252",419,...,"1,077",567,389,956,121.0,"1,215",631,464,"1,095",120.0

In [4]:
hud_2017_data.head()

,State,Number of CoCs,"Overall Homeless, 2017","Overall Homeless - Under 18, 2017","Overall Homeless - Age 18 to 24, 2017","Overall Homeless - Over 24, 2017","Overall Homeless - Female, 2017","Overall Homeless - Male, 2017","Overall Homeless - Transgender, 2017","Overall Homeless - Gender Non-Conforming, 2017",...,"Overall Homeless Parenting Youth Age 18-24, 2017","Sheltered ES Homeless Parenting Youth Age 18-24, 2017","Sheltered TH Homeless Parenting Youth Age 18-24, 2017","Sheltered Total Homeless Parenting Youth Age 18-24, 2017","Unsheltered Homeless Parenting Youth Age 18-24, 2017","Overall Homeless Children of Parenting Youth, 2017","Sheltered ES Homeless Children of Parenting Youth, 2017","Sheltered TH Homeless Children of Parenting Youth, 2017","Sheltered Total Homeless Children of Parenting Youth, 2017","Unsheltered Homeless Children of Parenting Youth, 2017"
0,AK,2.0,"1,845",305,186,"1,354",765,"1,075",4,1.0,...,22,10,12,22,0.0,39,20,19,39,0.0
1,AL,8.0,"3,793",528,300,"2,965","1,314","2,453",21,5.0,...,23,6,14,20,3.0,39,11,24,35,4.0
2,AR,6.0,"2,467",265,209,"1,993",965,"1,499",3,0.0,...,10,8,2,10,0.0,13,11,2,13,0.0
3,AZ,3.0,"8,947","1,607",660,"6,680","3,331","5,592",22,2.0,...,81,37,44,81,0.0,112,55,57,112,0.0
4,CA,43.0,"131,532","14,207","13,276","104,049","42,750","87,609",793,380.0,...,770,248,397,645,125.0,912,289,493,782,130.0

In [5]:
hud_2016_data.head()

,State,Number of CoCs,"Overall Homeless, 2016","Overall Homeless - Under 18, 2016","Overall Homeless - Age 18 to 24, 2016","Overall Homeless - Over 24, 2016","Overall Homeless - Female, 2016","Overall Homeless - Male, 2016","Overall Homeless - Transgender, 2016","Overall Homeless - Non-Hispanic/Non-Latino, 2016",...,"Overall Homeless Parenting Youth Age 18-24, 2016","Sheltered ES Homeless Parenting Youth Age 18-24, 2016","Sheltered TH Homeless Parenting Youth Age 18-24, 2016","Sheltered Total Homeless Parenting Youth Age 18-24, 2016","Unsheltered Homeless Parenting Youth Age 18-24, 2016","Overall Homeless Children of Parenting Youth, 2016","Sheltered ES Homeless Children of Parenting Youth, 2016","Sheltered TH Homeless Children of Parenting Youth, 2016","Sheltered Total Homeless Children of Parenting Youth, 2016","Unsheltered Homeless Children of Parenting Youth, 2016"
0,AK,2.0,"1,940",274,173,"1,493",808,"1,127",5,"1,797",...,9,2,7,9,0,10,2,8,10,0
1,AL,8.0,"4,111",681,304,"3,126","1,733","2,366",12,"4,027",...,26,14,6,20,6,45,22,17,39,6
2,AR,7.0,"2,463",432,197,"1,834","1,047","1,415",1,"2,377",...,13,12,1,13,0,13,12,1,13,0
3,AZ,3.0,"9,707","2,022",733,"6,952","3,685","6,005",17,"7,342",...,149,69,80,149,0,222,96,126,222,0
4,CA,43.0,"118,142","12,828","12,160","93,154","39,175","78,121",846,"85,437",...,852,210,531,741,111,"1,098",281,654,935,163

In [6]:
hud_2015_data.head()

,State,Number of CoCs,"Overall Homeless, 2015","Overall Homeless - Under 18, 2015","Overall Homeless - Age 18 to 24, 2015","Overall Homeless - Over 24, 2015","Overall Homeless - Female, 2015","Overall Homeless - Male, 2015","Overall Homeless - Transgender, 2015","Overall Homeless - Non-Hispanic/Non-Latino, 2015",...,"Overall Homeless Parenting Youth Age 18-24, 2015","Sheltered ES Homeless Parenting Youth Age 18-24, 2015","Sheltered TH Homeless Parenting Youth Age 18-24, 2015","Sheltered Total Homeless Parenting Youth Age 18-24, 2015","Unsheltered Homeless Parenting Youth Age 18-24, 2015","Overall Homeless Children of Parenting Youth, 2015","Sheltered ES Homeless Children of Parenting Youth, 2015","Sheltered TH Homeless Children of Parenting Youth, 2015","Sheltered Total Homeless Children of Parenting Youth, 2015","Unsheltered Homeless Children of Parenting Youth, 2015"
0,AK,2.0,"1,956",411,197,"1,348",773,"1,181",2,"1,862",...,18,8,10,18,0,21,9,12,21,0
1,AL,8.0,"3,970",716,271,"2,983","1,532","2,427",11,"3,901",...,20,7,9,16,4,35,12,17,29,6
2,AR,7.0,"2,560",417,243,"1,900",978,"1,582",0,"2,143",...,22,17,5,22,0,20,10,10,20,0
3,AZ,3.0,"9,896","2,124",824,"6,948","3,966","5,916",14,"7,516",...,160,43,107,150,10,194,51,134,185,9
4,CA,43.0,"115,738","13,657","11,645","90,436","38,676","76,545",517,"84,183",...,843,232,527,759,84,"1,160",341,698,"1,039",121